<section class="hero is-info is-large">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <img src="assets/images/logo_full.png" alt="Logo">
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-active">
            Home
          </a>
          <a class="nav-item is-active">
            Features
          </a>
          <a class="nav-item is-active">
            Pricing
          </a>
          <a class="nav-item is-active">
            Documentation
          </a>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <img src="assets/images/logo_full.png" alt="Logo" height="100px">
    </div>
    <div class="container has-text-centered">
      <a class="button is-info is-outlined is-inverted is-large" [href]="loginUrl">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        <span>Sign up with Github</span>
      </a>
    </div>
  </div>
